<div style="border: 2px solid darkblue;padding: 10px;">
	<form name="createNewGroup">
		<table>
			<tr>
				<td>Group Name: </td>
				<td><input type="text"></td>
			</tr>
			<tr>
				<td>Alias: </td>
				<td><input type="email"></td>
			</tr>
			<tr>
				<td>Description: </td>
				<td><input type="text"></td>
			</tr>
			<tr>
				<td>Private: </td>
				<td><input type="checkbox"></td>
			</tr>
			<tr>
				<td><button ng-click="createNewGroup()">Submit</button></td>
				<td></td>
			</tr>		
		</table>
	</form>
</div>