<div ng-controller="groupDetailsCtrl">

	<div ng-show="showGroupInfo">
		<h3>{{thisGroup.name}}     		<button class="btn btn-xs" ng-click="showGroupInfo = ! showGroupInfo"><font size="2">Edit</font></button></h3>
		<h5>{{thisGroup.alias}}</h5>
		<p>{{thisGroup.description}}</p>
		<p>{{thisGroup.private | privacy}}</p>

	</div>
	<div style="border: 2px solid darkblue;padding: 10px;" ng-show="! showGroupInfo">
		<form name="createNewGroup" ng-init="thisGroup.visibility">
			<table>
				<tr>
					<td>Group Name:</td>
					<td><input type="text" ng-model="thisGroup.name" value="thisGroup.name"></td>
				</tr>
				<tr>
					<td>Alias:</td>
					<td><input type="text" ng-model="thisGroup.alias" value="thisGroup.alias"/></td>
				</tr>
				<tr>
					<td>Description:</td>
					<td><input type="text" ng-model="thisGroup.description" value="thisGroup.description"/></td>
				</tr>
				<tr>
					<td>Private:</td>
					<td><input type="checkbox"  ng-checked="thisGroup.private" ng-model="thisGroup.private"/></td>
				</tr>

				<tr>
					<td>
						<button ng-click="saveGroupDetails()">Save</button>
					
					</td>
					<td></td>
				</tr>
			</table>
		</form>
	</div> 	
	<br>
<!-- 
	<p>selected group size: {{selectedMembers.members.length}}</p>
	<p>{{selectedMembers.members|json}}</p>
	
	<p>
		<button ng-click="addMember()">Add member</button> <input type="text" ng-model="addMember" ng-change="getOptions()" >
		<div style="border: 1px solid darkblue;padding: 2px; width:250px; height: 150px;overflow-y: auto;" ng-show="showWorker">
			<li style="list-style: none;display: inline-block;margin:0" ng-repeat="worker in workers" ng-click="setMember(worker)">{{worker.descriptor}}</li></div>
	</p>
-->
	<table>
		<tr>
			<td valign="top"><button ng-click="addMember()">Add member</button></td>
			<td><input type="text" ng-model="memberName" ng-change="getOptions()" style="width:250px;"">
				<div style="border: 1px solid darkblue;padding: 2px; width:250px; height: 150px;overflow-y: auto;" ng-show="showWorker">
					<li style="list-style: none; margin:0" ng-repeat="worker in workers" ng-click="setMember(worker)">{{worker.descriptor}}</li>
				</div>
			</td>
			<td>
				<div ng-show="addMemberError" style="color: red">{{addMemberErrorMsg}}</div>
			</td>
		</tr>
	</table>
	<br> <br>
	{{workers|json}}
	<table class="table table-striped" style="width: auto;">

		<thead>
			<tr>
				<th class="col-sm-1"><!--  <input type="checkbox" ng-model="MemberMaster">&nbsp-->
					<button ng-click="removeMembers()">Remove</button></th>
				<th class="col-sm-4"><label>Members</label></th>
				<th class="col-sm-1"></th>
			</tr>
		</thead>
		<tr ng-repeat="member in thisGroup.members">
			<td><input type="checkbox"
				checklist-model="selectedMembers.members" checklist-value="member"
				ng-checked="memberMaster">
			</td>
			<td><a href="#" ng-click="showDetails = ! showDetails">{{member.name}}</a>
				<div ng-show="showDetails">
					<p>{{member.org}}</p>
					<button ng-click="viewMemberDetails(member)"> View Profile </button>
				</div>
			</td>
			<td></td>
		</tr>
	</table>
	
	<button ng-click="ownedByMe()">Done!</button>
</div>