<div style="border: 2px solid darkblue;padding: 10px;">

<table class="table table-striped" style="width: auto;">
		
		<thead>
		<tr>
			<th class="col-sm-1"><input type="checkbox" ng-model="memberMaster"></th>
			<th class="col-sm-4"><label>Information</label></th>
			<th class="col-sm-1"></th>
		</tr>
		</thead>
<!-- 		<tr ng-repeat="worker in workers">
		  	<td><input type="checkbox" checklist-model="deleteWorker.workers" checklist-value="worker" ng-checked="memberMaster"></td>
		  	<td>detail
		  	</td>
		  	<td><button> action </button>
	  	</tr>
 -->
</table>
<button ng-click="ownedByMe()">Done!</button>
</div>