
<div class="row well" style="background-color:#fafafa" >
<a id=token href="https://i-0caa36fb.workdaysuv.com/super/authorize?response_type=token&client_id=Y2UzYjgyZjctYTNhYy00MjVhLWE3NTctNTRlYzBhOWIxNjRj"">
    	<button id="testbutton"   authenticate>Go to DList</button>
    </a>
  <!--      <iframe name="iframe1" id="iframe1"  src="partials/iframe1.html" ng-model="token" onload="load()" frameBorder=0>
         </iframe>
        <iframe name="iframe2" id="iframe2" src="partials/iframe2.html" frameborder=0 style="display:none">
        </iframe>
        <!--<a href="https://i-e0efe117.workdaysuv.com/super/authorize?response_type=token&client_id=MjA0YjQzY2UtMDQ2Yy00ZTQ5LTg0NGEtY2I4M2QzMjM4Njgy" target="iframe1">Test Link</a> -->
        <button id="test" authenticate>Test</button>
        
</div>
<!-- /.container -->
