<html>
  <script text="text/javascript" src="../resourceJS/angular.min.js"></script>
  <div ng-app="myApp2" ng-controller="iframe2Ctrl">
    <button id="unauthButton" unauthenticate>Unauthenticate </button>
  </div>

  <script>
    var app = angular.module("myApp2", []);
    app.controller('iframe2Ctrl', function($scope){

    });
    app.directive('unauthenticate', function($compile, $window, $location){
      return{
        restrict:'A',
        scope:false,
        link: function(scope, element, attrs){
          element.on('click', function(onClickEvent){
            parent.document.querySelector('#iframe2').style.display="none";
            var link = parent.document.querySelector('#token');
            delete link;
            
            //parent.document.querySelector('#iframe1').style.display="block";
            //parent.document.querySelector('#iframe1').contentWindow.location.reload(true);
            parent.document.querySelector('#iframe1').contentWindow.top.location.reload();
           });
        }

      }
    });

  </script>

</html>
