 <div style="height: 60px" align="center">
            <ul class="nav navbar-nav navbar-center">
                <li><a href="#/ownedByMe"><button style="width:140px">Owned by Me</button></a>
                </li>
                <li><a href="#/memberOf"><button style="width:140px">Member of</button></a>
                </li>
                <li><a href="#/view3"><button>view3</button></a>
                </li>
                <li><a href="#/view4"><button>view4</button></a>
                </li>
                <li><a href="#/view5"><button>view5</button></a>
                </li>               
            </ul>
        </div>