 <div style="height: 40px;display:table-cell; vertical-align:middle" align="bottom" style="padding:10px">
            <ul class="nav navbar-nav navbar-center">
                <li>
                		<button style="width:140px" ng-click="ownedByMe()">
                			Owned by Me
                		</button>
                	
                </li>
                <li>
                		<button style="width:140px" ng-click="memberOf()">
                			Member of
                		</button>
                	
                </li>
    <!--           <li><a href="#/view3"><button>view3</button></a>
                </li>
                <li><a href="#/view4"><button>view4</button></a>
                </li>
                <li><a href="#/view5"><button>view5</button></a>
                </li>         
      -->        
            </ul>
        </div>