


<!-- 
	<p>group size: {{groups.length}}</p>
	<p>{{groups|json}}</p>
	<p>selected group size: {{selectedGroups.groups.length}}</p>
	<p>{{selectedGroups.groups|json}}</p>
-->	


 <div ng-init="getOwnedByMeGroups()" ng-controller="ownedByMeCtrl">

	<div id="createNewGroup">
		<br>
		<p><button ng-click="newGroup()">Create New Group</button></p>
		<br><br>
		<div style="border: 2px solid darkblue;padding: 10px;" ng-show="showCreateNewGroup">
	<p>{{aGroup|json}}</p>
			<form name="newGroupForm" ng-init="aGroup.private=false">
				<table>
					<tr>
						<td>Group Name:</td>
						<td><input type="text" ng-model="aGroup.name" /></td>
						<td><div ng-show="validName" style="color: red">Group name is required</div></td>
					</tr>
					<tr>
						<td>Alias:</td>
						<td><input type="text" ng-model="aGroup.alias" /></td>
						<td><div ng-show="validAlias"  style="color: red">Alias is required</div></td>
					</tr>
					<tr>
						<td>Description:</td>
						<td><input type="text" ng-model="aGroup.description" /></td>
						<td><div ng-show="validDescrpt"  style="color: red">Description is required</div></td>
					</tr>
					<tr>
						<td>Private:</td>
						<td><input type="checkbox" ng-checked="! showCreateNewGroup"  
							ng-model="aGroup.private" /></td>   <!-- "isPrivate" ng-true-value="'Private'"
							ng-false-value="'Public'"  -->
					</tr>
					<tr>
						<td>
							<button type="submit" ng-click="addNewGroup()">Submit</button>
						</td>
						<td>
							<button ng-click="resetNewGroupForm()">Reset</button>
							<button ng-click="cancelAddNewGroup()">Cancel</button>
						</td>
					</tr>
				</table>
			</form>

		</div> 			
	</div>


	<table class="table table-striped" style="width: auto;">		
		<thead>
		<tr>
			<th class="col-sm-1"><!--  <input type="checkbox" ng-model="master">&nbsp-->
				<button>Delete</button></th>
			<th class="col-sm-3"><label>Group Name</label></th>
			<th class="col-sm-1">Visibility</th>
		</tr>
		</thead>
		<tr ng-repeat="group in ownedByMeGroups">
		  	<td><input type="checkbox" checklist-model="selectedGroups.groups" checklist-value="group" ng-checked="master"></td>
		  	<td><a href="#" ng-click="showDetails = ! showDetails">{{group.name}} </a>
		  		<div ng-show="showDetails">
		  			<p>{{group.description}}</p>
		  			<p><button ng-click="editGroupDetails(group)"> Manage </button></p>
		  		</div>
		  	</td>
		  	<td>{{group.private | privacy}}</td>
	  	</tr>
	</table>
</div>
