
<div ng-controller="searchListCtrl">
<div ng-include='"partials/viewGroupDetails.html"' ng-show="! defaultSearchView"></div>
<div ng-show="defaultSearchView">
	<div style="height: 40px;display:table-cell; vertical-align:middle"  style="padding:10px" >
	<table>
		<tr>
			<td valign="top">Search by: </td>
			<td valign="top"><select ng-init="searchBy = searchOptions[0]" ng-model="searchBy" ng-change="setSearchInputArea()" ng-options="searchOption.option for searchOption in searchOptions"></select></td>
			<td valign="top">&nbsp matching </td>
			<td valign="top">
				<div ng-show="groupNameSearch"><input type="text" style="width: 200px" ng-model="searchParam"></div>
				<div ng-show="ownerNameSearch"><input type="text" style="width: 200px"ng-model="ownerName" ng-change="getOwners(ownerName)">			      
 				   	<div style="border: 1px solid darkblue;padding: 2px; width:200px; max-height: 150px;overflow-y: auto;" ng-show="showOwner">
						<li style="list-style: none; margin:0" ng-repeat="owner in owners" ng-click="setOwner(owner)">{{owner.descriptor}}</li>
					</div>
				</div>
			</td>
			<td valign="top">
				<button style="width:100px" ng-click="search()">Search</button>
			</td>
		</tr>
	</table>
</div>
	<div id="main" style="overflow-y: scroll;" >
     
     <br>
     <p style="color: blue">{{searchResultMsg}}</p>
     <br>
     	<table class="table table-striped" style="width: auto;">		
		<thead>
		<tr>
			<th class="col-sm-1"><!--  <input type="checkbox" ng-model="master">&nbsp-->
				<button ng-click="subscribeGroups()">Subscribe</button></th>
			<th class="col-sm-3">Group Name</th>
			<th class="col-sm-3">Relation</th>
			<th class="col-sm-1">Visibility</th>
		</tr>
		</thead>
		<tr ng-repeat="group in searchResultGroups">
		  	<td><input type="checkbox" checklist-model="selectedGroups.groups" checklist-value="group" ng-checked="master"></td>
		  	<td><a href="#" ng-click="showDetails = ! showDetails">{{group.name}} </a>
		  		<div ng-show="showDetails">
		  			<p>{{group.alias}}</p>
		  			<p>{{group.descriptor}}</p>
		  			<p><button ng-click="viewGroupDetails(group)"> View Details </button></p>
		  		</div>
		  	</td>
		  	<td>{{group.relation}}</td>
		  	<td>{{group.private | privacy}}</td>
	  	</tr>
	</table>
     
 </div>
</div>
</div>
<!-- /.container -->
