
<div ng-controller="searchListCtrl">
	<div style="height: 40px;display:table-cell; vertical-align:middle" align="bottom" style="padding:10px" >
	<ul class="nav navbar-nav navbar-center">
		<li>
			Search Distribution Lists: <input type="text" ng-model="searchParam">
		</li>
		<li>
			<button style="width:100px" ng-click="search(searchParam)">Search</button>
		</li>
	</ul>

</div>
	<div id="main" style="overflow-y: scroll;" >
     <h4>search page stuff here</h4>
     <br><br>
     	<table class="table table-striped" style="width: auto;">		
		<thead>
		<tr>
			<th class="col-sm-1"><!--  <input type="checkbox" ng-model="master">&nbsp-->
				<button ng-click="subscribeGroups()">Subscribe</button></th>
			<th class="col-sm-3"><label>Group Name</label></th>
			<th class="col-sm-1">Visibility</th>
		</tr>
		</thead>
		<tr ng-repeat="group in searchResultGroups">
		  	<td><input type="checkbox" checklist-model="selectedGroups.groups" checklist-value="group" ng-checked="master"></td>
		  	<td><a href="#" ng-click="showDetails = ! showDetails">{{group.name}} </a>
		  		<div ng-show="showDetails">
		  			<p>{{group.description}}</p>
		  			<p><button > Something? </button></p>
		  		</div>
		  	</td>
		  	<td>{{group.visibility}}</td>
	  	</tr>
	</table>
     
 </div>
</div>
<!-- /.container -->
