<div ng-init="getOwnedByMeGroups()" >

	<div ng-show="showGroupInfo">
		<h3>{{thisGroup.name}}     		
		<h5>{{thisGroup.alias}}</h5>
		<p>{{thisGroup.description}}</p>
		<p>{{thisGroup.private | privacy}}</p>

	</div>

	<br>
	<br> <br>
	<table class="table table-striped" style="width: auto;">

		<thead>
			<tr>
				<th class="col-sm-1"><!--  <input type="checkbox" ng-model="MemberMaster">&nbsp-->
					<button ng-click="removeMembers()">Remove</button></th>
				<th class="col-sm-4"><label>Members</label></th>
				<th class="col-sm-1"></th>
			</tr>
		</thead>
		<tr ng-repeat="member in thisGroup.members">
			<td><input type="checkbox"
				checklist-model="selectedMembers.members" checklist-value="member"
				ng-checked="memberMaster">
			</td>
			<td><a href="#" ng-click="showDetails = ! showDetails">{{member.descriptor}}</a>
				<div ng-show="showDetails">
					<p>{{member.org}}</p>
					<button ng-click="viewMemberDetails(member)"> View Profile </button>
				</div>
			</td>
			<td></td>
		</tr>
	</table>
	
	<button ng-click="ownedByMe()">Done!</button>
</div>