<!-- <div class="sidebar-offcanvas" id="sidebar" role="navigation" > -->
<div  id="section" role="navigation" >
           <br><br><br>
            <ul class="nav nav-sidebar">
              <li>
              	
              		<button style="width:160px" ng-click="searchDList()">
              			<font size="2">Search Distribution Lists</font>
              		</button>
              	
              </li>
            </ul>
            <ul class="nav nav-sidebar">
              <li>
              	
              		<button style="width:160px" ng-click="myDList()">
              			<font size="2">My Distribution Lists</font>
              		</button>
              	
              </li>
            </ul>
</div>