<div class="col-sm-3 col-md-2 sidebar-offcanvas" id="sidebar" role="navigation" >
           <br><br><br>
            <ul class="nav nav-sidebar">
              <li>
              	<a href="#/searchList">
              		<button style="width:160px" ng-click="searchDList()">
              			<font size="2">Search Distribution Lists</font>
              		</button>
              	</a>
              </li>
            </ul>
            <ul class="nav nav-sidebar">
              <li>
              	<a href="#/myList">
              		<button style="width:160px" ng-click="myDList()">
              			<font size="2">My Distribution Lists</font>
              		</button>
              	</a>
              </li>
            </ul>
</div>