<div class="col-sm-3 col-md-2 sidebar-offcanvas" id="sidebar" role="navigation">
           <br><br>
            <ul class="nav nav-sidebar">
              <li><button>Action 1</button></li>
              <li><button>Action 2</button></li>
              <li><button>Action 3</button></li>
            </ul>
            <ul class="nav nav-sidebar">
              <li><button>Action 4</button></li>
              <li><button>Action 5</button></li>
              <li><button>Action 6</button></li>
              <li><button>Action 7</button></li>
              <li><button>Action 8</button></li>
            </ul>
</div>
